<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Card</title>
    {% load static%}
</head>
<style>
    body{
        background-color: crimson;
    }
    .card-page{
    color:darkblue;
    }
    .object{
        background-color: white;
        width:300px;
        height:445px;
        border:10px solid blue; 
        margin:60px auto 0 auto;
        color:darkslateblue;
        padding:0;
        line-height: 15px;
        font-size: large;
        font-weight: bold;
    }
</style>
<!-- <script>
function k(){    
    var check=1;
    para=document.getElementById("message");
    const rec=para.getBoundingClientRect();
    console.log(rec);

    $(function() {
            if(rec.top>=550 ){
                // $('.object').hide(1000);
                // $('#'+obj).show(1000);
                div=document.createElement("div");
                obj="object";
                div.classList.add(obj);
                check++;
                // div.appendChild(para);
                // div.appendChild(pa);
                // div.appendChild(line);
                // document.body.appendChild(div);
            }
    });
}
</script> -->
<script src="{% static 'jquery.js' %}"></script>
<body>
    <div class="card-page">
        <div class="object">
            {% for mess in messl%}
                <p class="mmmm" id="message">{{ mess.k.addr }}</p>
                <p id="name" style="color: #000; text-align: right;">{{ mess.name }}</p>
                <hr>
                <script>
                    
                    var na=document.getElementById("message").textContent;
                    console.log(na);
                    var check=1;
                    var para=document.getElementById("message");
                    var p= document.getElementsByClassName("mmmm")[0];
                    console.log(p);
                    var rec=para.getBoundingClientRect();
                    console.log(rec);

                    $(function() {
                            if(rec.top>=550 ){
                                // $('.object').hide(1000);
                                // $('#'+obj).show(1000);
                                div=document.createElement("div");
                                obj="object";
                                div.classList.add(obj);
                                check++;
                                // div.appendChild(para);
                                // div.appendChild(pa);
                                // div.appendChild(line);
                                // document.body.appendChild(div);
                            }
                    });
                </script>
            {% endfor %}
            <button type="button" onclick="k()" id="lb">Show</button>
        </div>
    </div>
    
</body>
</html>